
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminDashBoard.cshtml";
}
<style>
    body { padding-top:40px; }
.panel-body .btn:not(.btn-block) { width:150px;margin-bottom:20px; }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="panel-heading card-panel btn-primary">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-dashboard"></span>  Admin Panel
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            @*<i class="fa fa-sitemap" aria-hidden="true"></i>*@

                            <a href="@Url.Action("CreateOrganizationPage","Organization")" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-new-window"></span> <br />Organization</a>
                            <a href="@Url.Action("CreateUserPage","User")" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br />Users</a>
                           
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Reports</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Comments</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br />Bookmarks</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br />Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br />Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br />Tags</a>
                        </div>
                    </div>
                    @*<a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
