
@{
    ViewBag.Title = "Unauthorized";
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

<div class="container">
    <div><br /><br /></div>
    <div class="col-md-6 offset-3 card card-profile">
        <img src="~/Images/UnauthorizedAccess.jpg" alt="UnauthorizedAccess" />
    </div>
    <div class="col-md-6 offset-3 card card-profile">
        <div class="text-center text-danger">
            <p>
                Please Contact HCS Info Solutions <br />
                <address>
                    <strong>Email:</strong>   <a href="mailto:hcsinfosolutions@gmail.com">hcsinfosolutions@gmail.com</a>
                </address>
            </p>
        </div>
    </div>
</div>
